body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #dacece;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header{

    text-align: center;
    margin-bottom: 18px;
}

header p {
    font-size: 18px;
    color: #555;
    line-height: normal;
}

header img{

    border-radius: 50%;
    width: 170px;
    height: 170px;
    border: 2px solid #621515;
}

/*nav bar*/

nav {
    background-color:#055611;
    color: #f0f3f3;
    padding: 8px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
 cursor: pointer;
}




section{
    margin: bottom 20px;
}

section h2 {
    border-bottom: 2px solid #1c0f8d;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #4b224e;
    font-weight: bold;
}



.skills ul{
    list-style-type: none;
    padding: 0;
}

.skills ul li{
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid #bccc0b;
}
 

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin: 5px 0;
}

button {
    background-color: #540cc9;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #320ba0;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #230a0a;
    background-color: rgb(4, 155, 56);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}